{{>menu-user}}
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Pets</h1>
    </div>

    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4" id='card-pets'>
        </div>
      </div>
    </div>
  </section>
</div>

<script>

  $(document).ready(() => {
    fetchPets()
  });

  function collapse_pets(value) {

    $(value).collapse('toggle')
  }

  function fetchPets() {
    $.ajax({
      type: "GET",
      url: `/users/pets`,
      success: (data) => {

        data.forEach((item, index) => {
          date = new Date(item.data_nascimento);
          dataFormatada = date.toLocaleDateString('pt-BR', { timeZone: 'UTC' });
          $('#card-pets').append(`     
          
          <div class="card card-primary">
            <div class="card-header">
              <h4>${item.nome}</h4>
              <div class="card-header-action">
                <div class="">
                  <a href="/users/list-vaccination/${item.id}" class="btn btn-primary">Vacinação</a>
                 
                </div>
              </div>
            </div>
            <img alt="image" src="${item.foto ? '/images/' + item.foto : '../assets/img/example-image.jpg'}" class="img-fluid card-img-top" height="100px">
            <div class="card-body">
              <p>Espécie: ${item.specie.nome} </p>
              <p>Raça: ${item.breed.nome} </p>
              <p>Sexo: ${item.sexo}</p>
              <p>Data de nascimento: ${dataFormatada}</p>
            </div>
            <div class="card-header">
              <h4>Prontuário</h4>
              <div class="card-header-action">
                <button class="btn btn-primary" type="button" data-toggle="collapse${index}"  onclick ='collapse_pets("#collapse${index}")'>
                  <i class="fas fa-plus"></i></a>
                </button>
              </div>
            </div>
            <div class="collapse" id="collapse${index}">
              <div class="card-body">
                You can show or hide this card.
              </div>
              <div class="card-footer">
                Card Footer
              </div>
            </div>
          </div>`);
        });

        swal.close()
      },
      beforeSend: () => {
        loader()
      },
      error: (err) => {

        if (err.responseJSON.message) {
          messageSweetAlert(err.responseJSON.message, 'error');
          return;
        }
        alert('Erro interno.');
      }
    }); // Ajax
  }


</script>