{{>menu-user}}
<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>Pets</h1>
    </div>

    <div class="section-body">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">


          <div class="card card-primary">
            <div class="card-header">
              <h4>Cachorrão Dog mal</h4>
              <div class="card-header-action">
                <div class="btn-group">
                  <a href="#" class="btn btn-primary">Vacinação</a>
                  <a href="#" class="btn btn-primary">Medicamentos</a>
                </div>
              </div>
            </div>
            <img alt="image" src="../assets/img/example-image.jpg" class="img-fluid card-img-top" height="100px">
            <div class="card-body">
              <p>Write something here</p>
            </div>
            <div class="card-header">
              <h4>Show/Hide</h4>
              <div class="card-header-action">
                <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#">
                  <i class="fas fa-plus"></i></a>
              </div>
            </div>
            <div class="collapse" id="mycard-collapse">
              <div class="card-body">
                You can show or hide this card.
              </div>
              <div class="card-footer">
                Card Footer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>