{{>menu-user}}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Produtos</h1>
        </div>
        <div class="section-body">
            <div class="row">

                <div class="col-12 col-sm-6 col-lg-6">
                   
                    <div class="card">
                        <div class="card-header">
                            <h4>Vermífogos para Cachorro </h4>
                            <div class="card-header-action">
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-2 text-muted">R$ 43,00 - 15% de desconto</div>
                            <div class="chocolat-parent">
                                <a href="#" class="chocolat-image"
                                    title="Just an example">
                                    <div data-crop-image="285">
                                        <img alt="image" src="/assets/img/product1.jpeg" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                     <div class="card">
                        <div class="card-header">
                            <h4>Vermífogos para Gato </h4>
                            <div class="card-header-action">
                                <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="mb-2 text-muted">R$ 25,00 - 10% de desconto</div>
                            <div class="chocolat-parent">
                                <a href="#" class="chocolat-image"
                                    title="Just an example">
                                    <div data-crop-image="285">
                                        <img alt="image" src="/assets/img/product2.jpeg" class="img-fluid">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>