{{>menu-user}}
<div class="main-content">
<section class="section">
  <div class="section-header">
    <h1>Cadastrar PET</h1>
  </div>

  <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Informações</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label>Foto</label>
                <input type="file" class="form-control" accept="image/png, image/jpeg" />
              </div>
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" />
              </div>

              <div class="form-group">
                <label>Espécie</label>
                <select class="form-control" id="specie" name="specie" onchange="fetchBreeds(this.value)">
                  <option></option>
                  
                </select>
              </div>
              <div class="form-group">
                <label class="form-label">Sexo</label>
                <div class="selectgroup w-100">
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="50" class="selectgroup-input" checked="">
                    <span class="selectgroup-button">Macho</span>
                  </label>
                  <label class="selectgroup-item">
                    <input type="radio" name="value" value="100" class="selectgroup-input">
                    <span class="selectgroup-button">Fêmea</span>
                  </label>
                </div>
                <div class="form-group">
                  <label>Raça</label>
                  <select class="form-control" id="breed" name="breed">
                    <option></option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nascimento</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div>
                <button class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<script>
  $( document ).ready(() => {
   fetchSpecies()
});


function fetchBreeds(value){
    if(!value){
      $('#breed').empty();
      return;
    };

   $.ajax({
      type: "GET",
      url: `/breeds?specie=${value}`,
      success: (data) => {

        $('#breed').empty().append(`<option></option>`);
       data.forEach((item) => {
          $('#breed').append(`<option value=${item.id}> ${item.nome}</option>`);
       });

       swal.close()
      },
      beforeSend: () => {
        loader()
      },
      error: (err) => {

        if (err.responseJSON.message) {
          messageSweetAlert(err.responseJSON.message, 'error');
          return;
        }
        alert('Erro interno.');
      }
    }); // Ajax
}

function fetchSpecies(){
     $.ajax({
      type: "GET",
      url: "/species",
      success: (data) => {

       data.forEach((item) => {
          $('#specie').append(`<option value=${item.id}> ${item.nome}</option>`);
       });

       swal.close()
      },
      beforeSend: () => {
        loader()
      },
      error: (err) => {

        if (err.responseJSON.message) {
          messageSweetAlert(err.responseJSON.message, 'error');
          return;
        }
        alert('Erro interno.');
      }
    }); // Ajax
}



</script>