{{>menu-clinic}}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Vacina</h1>
        </div>
    </section>

    <div class="section-body">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4>Informações</h4>
          </div>
          <div class="card-body">
            <form id="form-register-pets" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label>Vacina</label>
                <select class="form-control" id="specie" name="specie" onchange="fetchBreeds(this.value)">
                  <option></option>            
                </select>
              </div>
              <div class="form-group">
                <div class="form-group">
                  <label>Lote</label>
                  <select class="form-control" id="breed" name="breed">
                    <option></option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Data</label>
                  <input type="date" class="form-control" name='data_nascimento'/>
                </div>
              </div>
              <div>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
<script>
     var id = window.location.pathname.split('/')[3];

    $(document).ready(function () {

        
    });

    function fetchVaccines(){
       $.ajax({
      type: "GET",
      url: `/clinic/users/${id}`,
      success: (data) => {

     
        swal.close();
      },
      beforeSend: () => {
        loader();
      },
      error: (err) => {

        if (err.responseJSON.message) {
          messageSweetAlert(err.responseJSON.message, 'error');
          return;
        }
        alert('Erro interno.');
      }
    }); // Ajax
    }

</script>